<html >
        <head>
                <title>Penney's game</title>
                <link rel="stylesheet" type="text/css" href="style.css"/>
                <script src="./script/jquery.min.js"></script>
                <script src="./script/angular.min.js"></script>
        </head>
        <body >
        <div ng-app="gameApp">
                <div ng-controller="gameController">
                <div>
                        <span id="coin" class="flipping"/>
                </div>
                <div >{{results}}</div>
               <div> <label for="userInput">Please enter your input (comma separated) e.g. H,H,H  or H,T,H  or  so on...</label>
                <input type="text" ng-model="userInput" id="userInput"></input>
                </div>
                <div>
                <label for="myInput">Here is what I chose:</label>
                <input type="text" ng-model="myInput" disabled id="myInput"></input>
                </div>
                <div>
                       <button ng-click="mySelection()"> register my choice </button>
                       <button ng-click="startCompetition()"> Start Competition </button>
                </div>
                <div>{{winner}}</div>
                </div>
        </div>
                <script src="script.js"></script>
        
        </body>
</html>
